<div class="accordion" id="accordionExample">
	<div class="card">
		<div class="card-header" id="headingOne">
			<h2 class="mb-0">
				<button
					class="btn btn-link"
					type="button"
					data-toggle="collapse"
					data-target="#collapseOne"
					aria-expanded="true"
					aria-controls="collapseOne"
				>
					Як водити дані
				</button>
			</h2>
		</div>

		<div
			id="collapseOne"
			class="collapse"
			aria-labelledby="headingOne"
			data-parent="#accordionExample"
		>
			<div class="card-body">
				Якщо ви вибрали <strong>Емпіричні дані</strong> і
				<strong>Пробіл</strong>то потрібно водити всі дані через пробіл
				<br />
				Наприклад: 
				1 1 1 1 1 2 2 2 3 3 3 3 5 5 5 5 5 5 5
				<br />
				Якщо ви вибрали <strong>Статистичний розподіл</strong> і
				<strong>Пробіл</strong> то потрібно водити по схемі
				значення <strong>:</strong> кількість повторень
				<br />
				Наприклад: 
				1:5 2:3 3:4 5:7
			</div>
		</div>
	</div>
</div>
