<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">Math statistic</a>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/"
					>Home <span class="sr-only">(current)</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/lab_work_1">Lab work №1</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/lab_work_2">Lab work №2</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/lab_work_3">Lab work №3</a>
			</li>
		</ul>
	</div>
</nav>
