{% extends "layout.html" %} 
{% block page_css_js %}
	<script 
		type="module"
		src="{{ url_for('static', filename='js/page-scripts/lab_work_4.js')}}"
	></script>
{% endblock %} 
{% block title %} Lab work 4 {% endblock %} 
{% block content %}
{% include 'components/explanation_blok.html' %}
<div id="lab_work_4">
	Кількість груп = <input 
		form="input_form" 
		name="groupeCnt"
		type="number" 
		v-model="groupeCnt" 
		placeholder="y=" 
	/>
	{% with n='0' %}
	{% include 'components/input_form.html' %}
	{% endwith %} 
	<div v-for="i in parseInt(groupeCnt)-1" class="form-row">
		<div class="col-6 my-1">
			<textarea
				autocomplete="off"
				:name="'items'+i"
				form="input_form"
				class="form-control"
				placeholder="Example 1 1 1 1 2 2 3 or 1:4 2:3"
				rows="1"
			></textarea>
		</div>
	</div>
</div>

<div class="mb-3">
	{% for data in groups_data %}
		{% with st=data['st'], groupe=data['index'] %} 
			{% include 'components/statistical_distr_table.html' %} 
		{% endwith %}
	{% endfor %}

	{% for data in groups_data %}
		<h2>Групове середнє {{ data['index'] }}</h2>
		<h5>
			\[ \bar{x}_{ {{ data['index'] }} }= \frac{1}{n} \sum\limits_{i=1}^{k}{x_{i} n_{i}} =
			{{ data['mean'] }} \]
		</h5>
	{% endfor %}

	<h2>Загальне групове середнє</h2>
	<h5>\[ \bar{x} = {{ common_mean }} \]</h5>

	{% for data in groups_data %}
		<h2>Групова дисперсія {{data['index']}}</h2>
		<h5>
			\[ D_{ {{data['index']}}гр } = \frac{1}{n}\sum\limits_{i=1}^{k}{n_{i}(x_{i}-\bar{x}_{в})^{2}}=
			{{ data['pvariance'] }} \]
		</h5>
	{% endfor %}

	<h2>Внутрішньогрупова дисперсія</h2>
	<h5>\[ D_{внгр} = \frac{1}{n}\sum N_{j} D_{jгр}= {{ inner_variance }} \]</h5>

	<h2>Міжгрупова дисперсія</h2>
	<h5>
		\[ D_{міжгр} = \frac{1}{n}\sum N_{j} (\bar{x}_{j} - \bar{x})^{2}=
		{{ intergroup_variance }} \]
	</h5>

	<h2>Загальна дисперсія</h2>
	<h5>
		\[ D_{заг} = \frac{1}{n}\sum n_{j} (\bar{x}_{j} - \bar{x})^{2}=
		{{ common_variance }} \]
	</h5>
</div>
{% endblock %}
