{% extends "layout.html" %} 
{% block page_css_js %}
	<script 
	type="module"
	src="{{ url_for('static', filename='js/page-scripts/lab_work_4.js')}}"
	></script>
{% endblock %} 
{% block title %} Lab work 4 {% endblock %} 
{% block content %}
<div id="lab_work_4">
	<input 
		form="input_form" 
		name="groupeCnt"
		type="number" 
		v-model="groupeCnt" 
		placeholder="y=" 
	/>
	{% with n='0' %} 
	{% include 'components/input_form.html' %}
	{% endwith %} 
	<div v-for="i in parseInt(groupeCnt)-1" class="form-row">
		<div class="col-6 my-1">
			<textarea
				autocomplete="off"
				:name="'items'+i"
				form="input_form"
				class="form-control"
				rows="1"
			></textarea>
		</div>
	</div>
</div>
{% endblock %}
