{% extends "layout.html" %} {% block page_css_js %}
{{ js_resources|indent(4)|safe }}
{{ css_resources|indent(4)|safe }}
{{ plot_1.script|indent(4)|safe }}
{{ plot_2.script|indent(4)|safe }}
{{ plot_3.script|indent(4)|safe }}
{{ plot_4.script|indent(4)|safe }}
{{ plot_5.script|indent(4)|safe }}
{% endblock %} {% block title %} Lab work 1 {% endblock %} {% block content %}
<span>
  12 -2 1 17 -1 15 4 21 19 5 1 0 12 4 0 17 7 19 13 2 -1 22 3 0 11 13 17 10 11 4
  7 12 10 5 1.5 -2 22 21 8 8
</span>
{% include 'components/input_form.html' %}
<div class="mb-3">
	<h2 class="text-center">Варіаційний ряд</h2>
	<h4 class="text-center">Кількість елементів - {{ items | length }}</h4>
	<table class="table table-responsive w-100">
		<tbody>
			<tr>
				{% for item in items %}
				<td>{{ item }}</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>

	{% include 'components/statistical_distr_table.html' %}

  <h2 class="text-center">Полігон частот</h2>
  {{ plot_1.div|indent(4)|safe }}
  <h2 class="text-center">Полігон відносних частот</h2>
  {{ plot_2.div|indent(4)|safe }}
  <h2 class="text-center">Полігон накопичених частот</h2>
  {{ plot_3.div|indent(4)|safe }}
  <h2 class="text-center">Полігон накопичених відносних частот</h2>
  {{ plot_4.div|indent(4)|safe }}

  <h4 class="text-center">Мода - {{ mode }}</h4>
  <h4 class="text-center">Медіана - {{ median }}</h4>

  <h2 class="text-center">Емпірична функція розподілу</h2>
  <h5>
    \[ F^{*}(x) = \left\{\begin{matrix} 0\ \ при \ \ x \ \leq \ {{ st[0].x }} \\
    {% for i in range(0, st|length-1) %} {{ st[i].w_nak }}\ \ при \ \
    {{ st[i].x }} \ < x \ \leq {{ st[i + 1].x }} \\ {% endfor %} 1\ \ при \ \ x
    \ > \ {{st[st|length-1].x}}
    \end{matrix}\right. \]
  </h5>

  <h2 class="text-center">Графік емпіричної функції розподілу</h2>
  {{ plot_5.div|indent(4)|safe }}
</div>
{% endblock %}
