<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link
      id="theme-link"
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/main.css')}}"
		/>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({TeX: {MAXBUFFER: 35600}})
		</script>
    <script
			type="text/javascript"
			async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_HTML"
		></script>
    {% block page_css_js %}{% endblock %}
  </head>
  <body>
		{% include 'components/nav_bar.html' %}
    <div class="container text-center">
			12 -2 1 17 -1 15 4 21 19 5 1 0 12 4 0 17 7 19 13 2 -1 22 3 0 11 13 17 10 11 4 7 12 10 5 1.5 -2 22 21 8 8
      {% block content %} {% endblock %}
    </div>
    <script>
      window.theme = 'light';

      function changeTheme() {
        let link = document.querySelector('#theme-link');

        if (link && theme === 'light') {
          link.href = `{{ url_for('static', filename='css/dark.css')}}`;
          theme = 'dark';
        } else if (link) {
          link.href = `{{ url_for('static', filename='css/bootstrap.min.css')}}`;
          theme = 'light';
        }
      }
    </script>
  </body>
</html>
